 <section class="top_header" style="padding-top: 90px; padding-bottom: 10px">
  <div class="container">

    <div class="row ">
      <div class="col-lg-8 ">
        <div class="name-content">
          <p class="names">Hello,it's Me <span>Abilash Ravi</span></p>
          <h6 class="main-text">
            And I'm a<span id="type" class="main-word"> .</span>
          </h6>
        </div>
        <div class="sub-content">
          <p>
            Iam a Web Designer with extensive experience for over 3 years
            expertise is to create and website design,Frontend design,and many
            more...
          </p>
        </div>
        <div class="div d-flex align-items-center justify-content-start">
          <div class="btn-de">
            <p>More About Me</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-4 mb-5">
        <div class="me">
          <div class="glow"></div>
          <img src="assets/image/abilash.png" class="img-fluid" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 d-flex align-items-center justify-content-evenly mt-5">
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-facebook-circle-line"></i>
            <p class="px-2">Face Book</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-whatsapp-line"></i>
            <p class="px-2">Whats app</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-instagram-line"></i>
            <p class="px-2">Instagram</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-linkedin-box-line"></i>
            <p class="px-2">LinkedIn</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section> 

 <section>
  <div class="container" style="padding-top: 90px; padding-bottom: 10px">
    <div class="row">
      <div class="title">
        <div class="tit">About Me</div>
      </div>
      <div class="sub">
        <p>
          I’m Creative<br /><span>
            UI/UX Designer
          </span>
        </p>
      </div>
      <div class="sub-content about">
        <p>
          Iam a Web Designer with extensive experience for over 3 years
          expertise is to create and website design,Frontend design,and many
          more I’m Abilash, a Junior UI/UX Designer and Frontend Developer with
          1.5 years of IT experience. Skilled in Angular and Flutter, I focus on
          crafting intuitive, engaging digital experiences that balance user
          needs with business goals.
        </p>
      </div>

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-details">
              <h6>Birthday : <span>01 /03/2001</span></h6>
            </div>
            <div class="about-details">
              <h6>Website : <span>www.abilash.com</span></h6>
            </div>
            <div class="about-details">
              <h6>Degree : <span>Bachelor Of Engineering</span></h6>
            </div>
            <div class="about-details">
              <h6>City : <span>Kanyakumari, Nagercoil</span></h6>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-details">
              <h6>Age : <span>23 </span></h6>
            </div>
            <div class="about-details">
              <h6>Email : <span>abilashravi09&#64;gmail.com</span></h6>
            </div>
            <div class="about-details">
              <h6>Phone : <span>6383891982</span></h6>
            </div>
            <div class="about-details">
              <h6>Freelance : <span>Available</span></h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="div d-flex">
            <div class="div d-flex align-items-center justify-content-start">
              <div class="btn-de">
                <p>Download CV</p>
              </div>
            </div>

            <div
              class="div mx-4 my-4 d-flex align-items-center justify-content-start"
            >
              <div class="btn-de">
                <p>Hire Me</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="levels">
          <p>Html</p>
          <div class="progress">
            <div class="progress-value"></div>
          </div>
        </div>
        <div class="levels">
          <p>CSS</p>
          <div class="progress">
            <div class="progress-value2"></div>
          </div>
        </div>

        <div class="levels">
          <p>Javascript</p>
          <div class="progress">
            <div class="progress-value3"></div>
          </div>
        </div>

        <div class="levels">
          <p>Angular</p>
          <div class="progress">
            <div class="progress-value4"></div>
          </div>
        </div>

        <div class="levels">
          <p>Flutter</p>
          <div class="progress">
            <div class="progress-value3"></div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div class="education-details" style="padding-top: 80px">
      <div class="row">
        <div class="col-lg-6">
          <div class="title">
            <div class="tit">Education</div>
          </div>

          <div class="education-card">
            <div class="card-inner">
              <div
                class="date-icn d-flex align-items-center justify-content-start"
              >
                <i class="ri-calendar-event-fill"></i>
                <p>2023</p>
              </div>
              <div class="position">
                <p>Graphics & Web & Design</p>
              </div>
              <div class="place">
                <p>Image Creative Education , <span>Nagercoil.</span></p>
              </div>
              <div class="sub-content subtit">
                <p>
                  I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                  with 1.5 years of IT experience. Skilled in Angular and
                  Flutter, I focus on crafting intuitive, engaging digital
                  experiences that balance user needs with business goals.
                </p>
              </div>
            </div>

            <div class="card-inner sch">
              <div
                class="date-icn d-flex align-items-center justify-content-start"
              >
                <i class="ri-calendar-event-fill"></i>
                <p>2018-2022</p>
              </div>
              <div class="position">
                <p>Bachelor Of Engineering</p>
              </div>
              <div class="place">
                <p>
                  Loyola Institute of Tech & Sciences.<span> kanyakumari</span>
                </p>
              </div>
              <div class="sub-content subtit">
                <p>
                  I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                  with 1.5 years of IT experience. Skilled in Angular and
                  Flutter, I focus on crafting intuitive, engaging digital
                  experiences that balance user needs with business goals.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="title">
            <div class="tit">Experience</div>
          </div>
          <div class="education-card">
            <div class="card-inner mb-4">
              <div
                class="date-icn d-flex align-items-center justify-content-start"
              >
                <i class="ri-calendar-event-fill"></i>
                <p>Jun 2023- Present</p>
              </div>
              <div class="position">
                <p>Junior Ui/UX Designer</p>
              </div>
              <div class="place">
                <p>Jilaba Software Services , <span>Chennai.</span></p>
              </div>
              <div class="sub-content subtit">
                <p>
                  I’m Abilash, a <b>Junior UI/UX Designer</b> and
                  <b>Frontend Developer</b> with 1.5 years of IT experience.
                  Skilled in <b>Angular and Flutter</b>, I focus on crafting
                  intuitive, engaging digital experiences that balance user
                  needs with business goals.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- 
<section>
  <div class="container" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="title">
        <div class="tit">Services</div>
      </div>
      <div class="col-lg-4">
        <div class="education-card service-card">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/grafic-design.png">
          </div>
          <div class="center-tit">
            <p>Graphic Design</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="education-card service-card-1">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/web-design.png">
          </div>
          <div class="center-tit">
            <p>Website  Design</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="education-card service-card-2">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/app-design.png">
          </div>
          <div class="center-tit">
            <p>Mobile App  Design</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="education-card service-card-3">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/app-development.png">
          </div>
          <div class="center-tit">
            <p>Mobile App Frontend</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div> 
      
      <div class="col-lg-4">
        <div class="education-card service-card-4">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/front-end.png">
          </div>
          <div class="center-tit">
            <p>Website Front end</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="education-card service-card-5">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
          <div class="center-circle">
            <img src="assets/image/web-devlopment.png">
          </div>
          <div class="center-tit">
            <p>Flutter &  Angular Front end</p>
          </div>
          <div class="tit-content">
            <p>I focus on crafting
              intuitive, engaging digital experiences that balance user
              needs with business goals.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section >
  <div class="container" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="title">
        <div class="tit">Contact Us</div>
      </div>

      <div class="tittle" style="text-align: center;margin-top: 40px;">
        <h6>Have You Any Qestions ?</h6>
      </div>

      <div class="col-lg-3">
      </div>

      <div class="col-lg-3">
        
      </div>

      <div class="col-lg-3">
        
      </div>

      <div class="col-lg-3">
        
      </div>
    </div>
  </div>
</section> -->