<section class="top_header" style="padding-top: 90px; padding-bottom: 10px">
  <div class="container">

    <div class="row ">
      <div class="col-lg-8 ">
        <div class="name-content">
          <p class="names">Hello,it's Me <span>Abilash Ravi</span></p>
          <h6 class="main-text">
            And I'm a<span id="type" class="main-word"> .</span>
          </h6>
        </div>
        <div class="sub-content">
          <p>
            Iam a Web Designer with extensive experience for over 3 years
            expertise is to create and website design,Frontend design,and many
            more...
          </p>
        </div>
        <div class="div d-flex align-items-center justify-content-start">
          <div class="btn-de">
            <p>More About Me</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-4 mb-5">
        <div class="me">
          <div class="glow"></div>
          <img src="assets/image/abilash.png" class="img-fluid" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 d-flex align-items-center justify-content-evenly mt-5">
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-facebook-circle-line"></i>
            <p class="px-2">Face Book</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-whatsapp-line"></i>
            <p class="px-2">Whats app</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-instagram-line"></i>
            <p class="px-2">Instagram</p>
          </div>
          <div class="face d-flex align-items-center justify-content-center">
            <i class="ri-linkedin-box-line"></i>
            <p class="px-2">LinkedIn</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="about-section">
  <div class="container" style="padding-top: 90px; padding-bottom: 10px">
    <div class="row">
      <div class="title">
        <div class="tit">About Me</div>
      </div>
      <div class="sub">
        <p>
          I’m Creative<br /><span>
            UI/UX Designer
          </span>
        </p>
      </div>
      <div class="sub-content about">
        <p>
          Iam a Web Designer with extensive experience for over 3 years
          expertise is to create and website design,Frontend design,and many
          more I’m Abilash, a Junior UI/UX Designer and Frontend Developer with
          1.5 years of IT experience. Skilled in Angular and Flutter, I focus on
          crafting intuitive, engaging digital experiences that balance user
          needs with business goals.
        </p>
      </div>

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-details">
              <h6>Birthday : <span>01 /03/2001</span></h6>
            </div>
            <div class="about-details">
              <h6>Website : <span>www.abilash.com</span></h6>
            </div>
            <div class="about-details">
              <h6>Degree : <span>Bachelor Of Engineering</span></h6>
            </div>
            <div class="about-details">
              <h6>City : <span>Kanyakumari, Nagercoil</span></h6>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-details">
              <h6>Age : <span>23 </span></h6>
            </div>
            <div class="about-details">
              <h6>Email : <span>abilashravi09&#64;gmail.com</span></h6>
            </div>
            <div class="about-details">
              <h6>Phone : <span>6383891982</span></h6>
            </div>
            <div class="about-details">
              <h6>Freelance : <span>Available</span></h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="div d-flex">
            <div class="div d-flex align-items-center justify-content-start">
              <div class="btn-de">
                <p>Download CV</p>
              </div>
            </div>

            <div class="div mx-4 my-4 d-flex align-items-center justify-content-start">
              <div class="btn-de">
                <p>Hire Me</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="journey-section">

  <div class="container education-details" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="col-lg-6">
        <div class="title">
          <div class="tit">Education</div>
        </div>

        <div class="education-card">
          <div class="card-inner">
            <div class="date-icn d-flex align-items-center justify-content-start">
              <i class="ri-calendar-event-fill"></i>
              <p>2023</p>
            </div>
            <div class="position">
              <p>Graphics & Web & Design</p>
            </div>
            <div class="place">
              <p>Image Creative Education , <span>Nagercoil.</span></p>
            </div>
            <div class="sub-content subtit">
              <p>
                I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                with 1.5 years of IT experience. Skilled in Angular and
                Flutter, I focus on crafting intuitive, engaging digital
                experiences that balance user needs with business goals.
              </p>
            </div>
          </div>

          <div class="card-inner sch">
            <div class="date-icn d-flex align-items-center justify-content-start">
              <i class="ri-calendar-event-fill"></i>
              <p>2018-2022</p>
            </div>
            <div class="position">
              <p>Bachelor Of Engineering</p>
            </div>
            <div class="place">
              <p>
                Loyola Institute of Tech & Sciences.<span> kanyakumari</span>
              </p>
            </div>
            <div class="sub-content subtit">
              <p>
                I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                with 1.5 years of IT experience. Skilled in Angular and
                Flutter, I focus on crafting intuitive, engaging digital
                experiences that balance user needs with business goals.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title">
          <div class="tit">Experience</div>
        </div>

        <div class="education-card">
          <div class="card-inner">
            <div class="date-icn d-flex align-items-center justify-content-start">
              <i class="ri-calendar-event-fill"></i>
              <p>2023</p>
            </div>
            <div class="position">
              <p>Graphics & Web & Design</p>
            </div>
            <div class="place">
              <p>Image Creative Education , <span>Nagercoil.</span></p>
            </div>
            <div class="sub-content subtit">
              <p>
                I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                with 1.5 years of IT experience. Skilled in Angular and
                Flutter, I focus on crafting intuitive, engaging digital
                experiences that balance user needs with business goals.
              </p>
            </div>
          </div>

          <div class="card-inner sch">
            <div class="date-icn d-flex align-items-center justify-content-start">
              <i class="ri-calendar-event-fill"></i>
              <p>2018-2022</p>
            </div>
            <div class="position">
              <p>Bachelor Of Engineering</p>
            </div>
            <div class="place">
              <p>
                Loyola Institute of Tech & Sciences.<span> kanyakumari</span>
              </p>
            </div>
            <div class="sub-content subtit">
              <p>
                I’m Abilash, a Junior UI/UX Designer and Frontend Developer
                with 1.5 years of IT experience. Skilled in Angular and
                Flutter, I focus on crafting intuitive, engaging digital
                experiences that balance user needs with business goals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




    <div class="container" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="title">
        <div class="tit">What I Know</div>
      </div>
      <div class="col-lg-4">
        <div class="education-card service-card">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
            <div class="center-circle">
              <img src="assets/image/grafic-design.png">
            </div>
            <div class="center-tit">
              <p>Figma</p>
            </div>
            <div class="tit-content">
              <p>I focus on crafting
                intuitive, engaging digital experiences that balance user
                needs with business goals.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="education-card service-card-1">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
            <div class="center-circle">
              <img src="assets/image/web-design.png">
            </div>
            <div class="center-tit">
              <p>Photoshop</p>
            </div>
            <div class="tit-content">
              <p>I focus on crafting
                intuitive, engaging digital experiences that balance user
                needs with business goals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="education-card service-card-2">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
            <div class="center-circle">
              <img src="assets/image/app-design.png">
            </div>
            <div class="center-tit">
              <p>Illustrator</p>
            </div>
            <div class="tit-content">
              <p>I focus on crafting
                intuitive, engaging digital experiences that balance user
                needs with business goals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="education-card service-card-3">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
            <div class="center-circle">
              <img src="assets/image/app-development.png">
            </div>
            <div class="center-tit">
              <p>Adope Xd</p>
            </div>
            <div class="tit-content">
              <p>I focus on crafting
                intuitive, engaging digital experiences that balance user
                needs with business goals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="education-card service-card-4">
          <div class="card-inner d-flex align-items-center justify-content-center flex-column">
            <div class="center-circle">
              <img src="assets/image/front-end.png">
            </div>
            <div class="center-tit">
              <p>Canva</p>
            </div>
            <div class="tit-content">
              <p>I focus on crafting
                intuitive, engaging digital experiences that balance user
                needs with business goals.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="journey-section">

</section>



<section id="portfolio-section">
  <div class="container" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="title">
        <div class="tit">My Portfolio</div>
      </div>
      <div class="col-lg-4">
        <div class="con port">
          <img src="assets/image/work-1.png" class="img-fluid">
          <div class="port-content">
            <div class="proce">
            <p>interaction/UI Design</p>
            <p class="sec">B2B</p>
            </div>
            <div class="proce_para">
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>

          
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="con port">
          <img src="assets/image/work-1.png" class="img-fluid">
          <div class="port-content">
            <div class="proce">
            <p>interaction/UI Design</p>
            <p class="sec">B2B</p>
            </div>
            <div class="proce_para">
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>

          
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="con port">
          <img src="assets/image/work-1.png" class="img-fluid">
          <div class="port-content">
            <div class="proce">
            <p>interaction/UI Design</p>
            <p class="sec">B2B</p>
            </div>
            <div class="proce_para">
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>

          
          </div>
        </div>
      </div>

       <div class="col-lg-4">
        <div class="con port">
          <img src="assets/image/work-1.png" class="img-fluid">
          <div class="port-content">
            <div class="proce">
            <p>interaction/UI Design</p>
            <p class="sec">B2B</p>
            </div>
            <div class="proce_para">
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>

          
          </div>
        </div>
      </div>

       <div class="col-lg-4">
        <div class="con port">
          <img src="assets/image/work-1.png" class="img-fluid">
          <div class="port-content">
            <div class="proce">
            <p>interaction/UI Design</p>
            <p class="sec">B2B</p>
            </div>
            <div class="proce_para">
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>

          
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="contact-section">
  <div class="container" style="padding-top: 90px; padding-bottom: 20px">
    <div class="row">
      <div class="title">
        <div class="tit">Contact Us</div>
      </div>


      <div class="col-md-12">
        <div class="right_con">


          <div class="tittle" style="text-align: center;margin-top: 40px;">
            <h6>Have You Any Qestions ?</h6>
          </div>


          <div class="row d-flex align-items-center justify-content-between">
            <div class="col-lg-5">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="px-3">
                  <img src="assets/image/add.svg" />
                </div>
                <div class="">
                  <div class="fe">
                    <p>Location</p>

                    <h6>Chennai, India</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="px-3">
                  <img src="assets/image/mobile.svg" />
                </div>
                <div class="">
                  <div class="fe">
                    <p>Mobile</p>
                    <h6>6383891982</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="px-3">
                  <img src="assets/image/avi.svg" />
                </div>
                <div class="">
                  <div class="fe">
                    <p>Availability</p>
                    <h6>Daily 09 am - 09pm</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="">
                  <img src="assets/image/email.svg" />
                </div>
                <div class="px-3">
                  <div class="fe">
                    <p>Email</p>
                    <a href="mailto:abilashravi09@gmail.com">
                      <h6>abilashravi09&#64;gmail.com</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="d-flex align-items-center justify-content-between social">
            <p>Social media</p>
            <div class="icones">
              <a href="https://github.com/Abilash1114" target="_blank">
                <img src="assets/image/wh.svg" class="img-fluid" />
              </a>
              <a href="https://www.linkedin.com/in/abilash-r/" target="_blank">
                <img src="assets/image/li.svg" class="img-fluid" />
              </a><a>
                <img src="assets/image/be.svg" class="img-fluid" />
              </a>
              <a>
                <img src="assets/image/in.svg" class="img-fluid" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

