@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primarycolour:#FF4334;
    --secoundarycolour:#293252;
    --textcolour:#4E527A;
    --primarytext:#636471;
    --titlecolour:#242527;
}

body{
    background-color: #F3F4FD !important;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Poppins", serif !important;
}

a{
    cursor: pointer;
    color: var(--primarycolour);
}

.tit{
    color: var(--titlecolour);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    position: relative;
}

ul{
    text-decoration: none;
    list-style: none;
}

p{
    color: var(--secoundarycolour) !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: "Poppins", serif !important;
}

.tit::before{
    position: absolute;
    content: '';
    width: 55px;
    height: 3px;
    bottom: -3px;
    background-color: var(--primarycolour);
}
.tit::after{
    position: absolute;
    content: '';
    width: 35px;
    height: 3px;
    bottom: -13px;
    left: 0px;
    background-color: var(--primarycolour);
}