<section class="totalhead">
  <div class="left_head">

    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
          <div class="logo ">
            <img src="assets/image/showcase.svg" class="img-fluid " />
          </div>
          <div class="menus">
            <div class="menuname">
              <ul>
                <li class="active"><a><i class="ri-home-9-line px-3"></i>Home</a></li>
                <li><a><i class="ri-shield-user-line px-3"></i>About Me</a></li>
                <li><a><i class="ri-menu-add-fill px-3"></i>My Journey</a></li>
                <li><a><i class="ri-football-line px-3"></i>Portfolio</a></li>
                <li><a><i class="ri-contacts-book-2-line px-3"></i>Contact Us</a></li>
            </ul>
          </div>
        </div>
    </div>
    </div>
  </div>
  </section>
