.totalhead {
    background-color: #FDFBFF;
    width: 300px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.048) 0px 19px 38px, rgba(0, 0, 0, 0.094) 0px 15px 12px;
    position: fixed;
}

.logo{
    width: 60%;
    margin-top: 30px;
}

.menus{
  padding: 70px 30px;
}

.menus ul li{
padding-bottom: 55px;
font-family: "Poppins", serif !important;
font-weight: 500;
font-size: 18px;
color: var(--secoundarycolour);
position: relative;

}

.menuname ul li i{
    font-size: 20px !important;
}

.menus ul li.active{
color: var(--primarycolour) !important;
}

.menus ul li::before{
content: '';
width: 100%;
height: 1px;
background-color: #EBEEF7;
position: absolute;
top: 40px;
border-radius: 20px;
}

